@import 'main-page.scss';
@import 'about-first.scss';
@import 'about-second.scss';
@import 'services.scss';
@import 'projects.scss';
@import 'video-block.scss';
@import 'news.scss';
@import 'footer.scss';
@import 'sprites.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1150px;
    padding: 0 25px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
}



.lock {
    overflow: hidden;
}


//КНОПКА


.btn {
    color: white;
    background: $main-color;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    height: 45px;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    padding: 0 10px;
}


//ЗАГОЛОВОК

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    @include adaptive-fonts(36, 20);
    line-height: 1.4722em;
}

//ПОДЗАГОЛОВОК

.descr {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

//@media all and (max-width: 450px) {
//    .title {
//        font-size: 20px;
//        line-height: 40px !important;
//    }
//}
//
//@media all and (max-width: 375px) {
//    .title {
//        font-size: 25px;
//    }
//}


