$maxWidth: 1920;

@mixin adaptive-fonts($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    
    @media all and (max-width: 768px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    
    @media all and (min-width: 768px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

@mixin adaptive-line-height($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    
    @media all and (max-width: 768px) {
        line-height: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    
    @media all and (min-width: 768px) {
        line-height: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}