@import 'variables.scss';
@import 'mixins.scss';



.projects {
    background: #F6F6F8;
    text-align: center;
    padding: 105px 0 130px 0;

    &__title {
        margin-bottom: 35px;
    }

    &__descr {
        max-width: 730px;
        margin: 0 auto;
    }

    .projects-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        justify-items: center;
        grid-gap: 30px;
        padding: 60px 0;
        
        img {
            border-radius: 10px;
            background: #C4C4C4;
        }
    }
}

@media all and (max-width: 768px) {
    .projects {
        padding: 50px 0 100px 0;
    }
}
